body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    color: #333;
    /* background-color:brown; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.header_text {
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.main_container {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* width: 70vw; */
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* SCROLL */
body::-webkit-scrollbar {
background: none;    
width: 0px;        
}
body::-webkit-scrollbar-track {
background: none; 
width: 0px;      
}

/* Home Button */
.home_btn {
    position: fixed;
    bottom: 4vw;
    left: 4vw;
    width: 8vw;
    max-width: 78px;
}

.home_btn img {
    width: 100%;
    height: 100%;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.home_btn img:hover {
    filter: contrast(150%);
    -webkit-filter: contrast(150%);
}