.landing_container {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 29%);
}

.landing_container h1 {
    font-size: 10vw;
    margin: 0 0 0rem 0;
    text-align: center;
}

.landing_container h3 {
    font-size: 2vw;
    margin-bottom: 5rem;
    text-align: center;
}

.socials_container {
    width: auto;
    height: auto;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.75vw;
}

.socials_container a {
    margin: 1rem;
    text-decoration: none;
}

/* PROJECT SECTION */
.client_projects_container {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.client_projects_container h2 {
    font-size: 5vw;
}

.client_projects_container ul li {
    list-style: none;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 2.5vw;
    margin-bottom: 6rem;
    line-height: 0.90rem;

    /* transition: all 1s; */
    /* transition-timing-function: cubic-bezier( 1, -0.08, 0, 1.03 ); */

    -webkit-transition: all 0.25s cubic-bezier(.42, 0, .58, 1);
transition: all 0.25s cubic-bezier(.42, 0, .58, 1);
}

.client_projects_container ul li:hover {
    letter-spacing: 0.125rem;
}

/* project tag */
.client_projects_container ul li p {
    list-style: none;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1vw;
    margin-left: -0.5rem;
}

.client_projects_container ul li a {
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .landing_container h1 {
        font-size: 8.5vw;
    }
    
    .landing_container h3 {
        font-size: 4vw;
        margin-bottom: 3rem;
        letter-spacing: 0.7rem;
    }
    
    .socials_container {
        width: auto;
        height: auto;
        font-family: monospace;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 3.90vw;
    }
    
    .socials_container a {
        margin: 1rem;
        text-decoration: none;
    }

    .header_text {
        letter-spacing: 0.9rem;
    }
    

    .client_projects_container h2 {
        font-size: 4.5vw;
        text-align: center;
        letter-spacing: 0.7rem;
    }
    
    .client_projects_container ul li {
        letter-spacing: 0.25rem;
        font-size: 3vw;
        margin-bottom: 4rem;
        line-height: 0.90rem;
    }
    
    .client_projects_container ul li p {
        list-style: none;
        font-family: monospace;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        font-size: 1.65vw;
        margin-left: -0.5rem;
    }

}

@media screen and (max-width: 500px) {

    .landing_container h1 {
        font-size: 12.5vw;
        margin: 4rem 0.25rem;
    }
    
    .landing_container h3 {
        font-size: 3vw;
        margin-bottom: 3rem;
        letter-spacing: 0.5rem;
    }

    .socials_container {
        font-size: 2.90vw;
    }

    .client_projects_container h2 {
        font-size: 6.5vw;
        letter-spacing: 0.7rem;
        margin: 4rem 0.25rem;
    }

    .client_projects_container ul li {
        letter-spacing: 0.25rem;
        font-size: 3.5vw;
        margin-bottom: 4rem;
        line-height: 0.90rem;
    }

    .client_projects_container ul li p {
        font-size: 1.85vw;
    }
}