.project_heading_container {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project_heading_container h1 {
    font-size: 3vh;
    margin: 0;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    text-align: center;
}

.project_body_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.project_body_container--inner {
    width: 70vw;
    height: auto;
    padding: 0 2.0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project_body_container--inner video {
    max-width: 100%;
    margin-bottom: 2rem;
}

.project_body_container--inner img {
    max-width: 100%;
    margin-bottom: 2rem;
}

.project_body_container--inner p {
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 1.95vh;
    font-family: monospace;
    line-height: 2.65vh;
}

.project_body_container--inner h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2.95vh;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.95vw;
}

.overview_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 4rem 0;
    border-bottom: 1px solid #000;
}

.overview_section a {
    border-bottom: 1px solid #000;
}

.overview_section .overview_section--left {
    padding: 1.0vw;
    white-space: nowrap;
}

.overview_section .overview_section--left p {
    text-align: left;
    font-size: 1.75vh;
    font-family: monospace;
    margin: 0.5rem;
}

.overview_section .overview_section--right {
    padding: 1.0vw 1.0vw 1.0vw 2.0vw;
}

.overview_section .overview_section--right p {
    text-align: left;
    font-size: 1.75vh;
    font-family: monospace;
}


@media screen and (max-width: 1000px) {
    .project_heading_container {
        padding: 0 0 0 16vw;
        height: 20vh;
        display: flex;
        align-items: start;
    }

    .project_heading_container h1 {
        font-size: 2.8vh;
        letter-spacing: 0.65rem;
        text-align: left;
    }

    .project_body_container {
        display: block;
        background-color: #fafafa;
    }

    .project_body_container--inner {
        width: 84vw;
        margin-left: 16vw;
        background-color: #eeeeee;
        padding: 0;

        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .overview_section {
        grid-template-columns: 1fr 1fr;
    }
    
    .overview_section .overview_section--left {
        padding: 0;
        white-space:normal;
    }
    
    .overview_section .overview_section--left p {
        font-size: 1.60vh;
    }    
    
    .overview_section .overview_section--right p {
        font-size: 1.60vh;
    }
}

@media screen and (max-width: 593px) {
    .project_body_container--inner h2 {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 2.75vh;
        font-family: monospace;
        text-transform: uppercase;
        letter-spacing: 0.95vw;
    }
}